:root {
    font-size: 16px;
    font-family: Verdana, sans-serif;

    --border-color: rgb(185, 185, 185);
    --border: 1px solid var(--border-color);
    --border-radius: 6px;
    --caption-color: #3B5998;
}

html {
    min-width: 800px;
    max-width: 1400px;
    margin: 1rem auto;
    background-color: aliceblue;
    padding: 1rem;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(102, 102, 102);;
}
table td {
    table-layout: fixed;
    width: 100%;
    border: 3px solid rgb(102, 102, 102);
}
main .datatable tbody tr:nth-child(odd) {
    background-color: bisque;
}
header .languages {
    position: absolute;
    top: 1rem;
    right: 3.75rem;
}

header .enter-or-register-box {
    position: absolute;
    top: calc(24px + 0.5rem);
    right: 3.75rem;
    top: 4rem;
}

header nav{
    border: var(--border);
    border-radius: var(--border-radius);
    margin: 0.5rem 0 2rem 0;
}

header nav ul {
    padding: 1rem;
    margin: 0;
}
header nav ul li{
    display: inline;
    padding: 0;
    margin: 0;
}
header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #202123;
    font-family: Arial, sans-serif;
    margin-right: 1rem;
}
header nav form {
    float: right;
}
.middle {
    display: flow-root;
}

aside{
    float: right;
    width: 20rem;
}

aside section {
    border: var(--border);
    border-top-left-radius: var(--border-radius);
    border-top-top-radius: var(--border-radius);
}

aside section .header {
    border-bottom: var(--border);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--caption-color)
}

aside section .header:before {
    content: "->";
    font-size: 1.1rem;
}

aside section .body{
    padding: 0.25rem;
}

aside section .footer .body {
    border-top: var(--border);
    padding: 0.25rem;
}

main {
    margin-right: 21rem;
}
.ads .header {
    font-size: larger;
    color: blue;
    font-weight: bold;
    padding-top: 1rem;
}
.ads .creationTime {
    color: slategray;
    padding-bottom: 5px;
}
main .caption {
    background-color: lightgray;
    border-radius: 3px;
}
main .textOfMessage {
    border-left: 4px solid LightGrey;
    padding-right: 1rem;
}
main .footer {
    padding-top: 0.5rem;
}

main .comments {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    border-width:2px;
    border-style:solid;
    border-color:black;

}
main .comments .rightPart {
    float: right;
}
main .loger {
    padding-top: 2rem;
    border-width:2px;
    border-style:solid;
    border-color:black;
}
footer {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: var(--border);
    text-align: center;
}
